<p>
  <strong>Lattitude:</strong>
  <%= @latlong.lattitude %>
</p>
 
<p>
  <strong>Longitude:</strong>
  <%= @latlong.longitude %>
</p>

<p id=testString </p>
<script>
newText = "<%= @tmpVar.to_s %>";
document.getElementById("testString").innerHTML = newText; 

</script>